In [1]:
import pandas as pd

In [2]:
df_grades = pd.read_csv("superstore.csv")
df_grades

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,1,2011-01-07 00:00:00.000,CA-2011-130813,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,1,2011-01-21 00:00:00.000,CA-2011-148614,...,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,1,2011-09-29 00:00:00.000,CA-2011-146969,...,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,1,2014-12-03 00:00:00.000,CA-2014-109701,...,69,Corporate,2014-12-04 00:00:00.000,Same Day,5.15,California,Binders,2014,North America,49
51286,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,1,2014-12-03 00:00:00.000,CA-2014-109701,...,9,Corporate,2014-12-04 00:00:00.000,Same Day,0.44,California,Binders,2014,North America,49
51287,Office Supplies,Los Angeles,United States,HR-147704,Hallie Redmond,0.2,US,1,2014-12-18 00:00:00.000,CA-2014-106964,...,12,Home Office,2014-12-21 00:00:00.000,First Class,0.31,California,Binders,2014,North America,51
51288,Office Supplies,Los Angeles,United States,RM-196754,Robert Marley,0.2,US,1,2014-12-25 00:00:00.000,CA-2014-145219,...,90,Home Office,2014-12-26 00:00:00.000,First Class,15.95,California,Binders,2014,North America,52
51289,Office Supplies,Los Angeles,United States,FH-143654,Fred Hopkins,0.2,US,1,2014-12-26 00:00:00.000,CA-2014-121398,...,154,Corporate,2014-12-30 00:00:00.000,Standard Class,9.59,California,Binders,2014,North America,52

In [3]:
df_grades = pd.read_csv("superstore.csv")
df_grades.head()

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,1,2011-01-07 00:00:00.000,CA-2011-130813,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,1,2011-01-21 00:00:00.000,CA-2011-148614,...,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,1,2011-09-29 00:00:00.000,CA-2011-146969,...,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40

In [4]:
df_grades = pd.read_csv("superstore.csv")
df_grades.head(3)

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,1,2011-01-07 00:00:00.000,CA-2011-130813,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,1,2011-01-21 00:00:00.000,CA-2011-148614,...,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32

In [5]:
df_grades.shape

(51290, 27)

In [6]:
df_grades.dtypes

Category           object
City               object
Country            object
Customer.ID        object
Customer.Name      object
Discount          float64
Market             object
记录数                 int64
Order.Date         object
Order.ID           object
Order.Priority     object
Product.ID         object
Product.Name       object
Profit            float64
Quantity            int64
Region             object
Row.ID              int64
Sales               int64
Segment            object
Ship.Date          object
Ship.Mode          object
Shipping.Cost     float64
State              object
Sub.Category       object
Year                int64
Market2            object
weeknum             int64
dtype: object

In [7]:
df_grades.columns

Index(['Category', 'City', 'Country', 'Customer.ID', 'Customer.Name',
       'Discount', 'Market', '记录数', 'Order.Date', 'Order.ID', 'Order.Priority',
       'Product.ID', 'Product.Name', 'Profit', 'Quantity', 'Region', 'Row.ID',
       'Sales', 'Segment', 'Ship.Date', 'Ship.Mode', 'Shipping.Cost', 'State',
       'Sub.Category', 'Year', 'Market2', 'weeknum'],
      dtype='object')

In [8]:
df_grades.index

RangeIndex(start=0, stop=51290, step=1)

In [9]:
df_grades['Product.ID']

0        OFF-PA-10002005
1        OFF-PA-10002893
2        OFF-PA-10000659
3        OFF-PA-10001144
4        OFF-PA-10002105
              ...
51285    OFF-BI-10000632
51286    OFF-BI-10004187
51287    OFF-BI-10000320
51288    OFF-BI-10001670
51289    OFF-BI-10001718
Name: Product.ID, Length: 51290, dtype: object

In [16]:
df_grades['Customer.Name']

0        Lycoris Saunders
1           Mark Van Huff
2            Chad Sievert
3            Chad Sievert
4          Arthur Prichep
               ...
51285      Alice McCarthy
51286      Alice McCarthy
51287      Hallie Redmond
51288       Robert Marley
51289        Fred Hopkins
Name: Customer.Name, Length: 51290, dtype: object

In [17]:
df_grades.Sales

0         19
1         19
2         21
3        111
4          6
        ...
51285     69
51286      9
51287     12
51288     90
51289    154
Name: Sales, Length: 51290, dtype: int64

In [18]:
df_grades [["Sales","Product.ID"]]

       Sales       Product.ID
0         19  OFF-PA-10002005
1         19  OFF-PA-10002893
2         21  OFF-PA-10000659
3        111  OFF-PA-10001144
4          6  OFF-PA-10002105
...      ...              ...
51285     69  OFF-BI-10000632
51286      9  OFF-BI-10004187
51287     12  OFF-BI-10000320
51288     90  OFF-BI-10001670
51289    154  OFF-BI-10001718

[51290 rows x 2 columns]

In [19]:
sales= df_grades["Sales"]
sales

0         19
1         19
2         21
3        111
4          6
        ...
51285     69
51286      9
51287     12
51288     90
51289    154
Name: Sales, Length: 51290, dtype: int64

In [21]:
names= df_grades["Sales"]
names[0]

19

In [23]:
names= df_grades["Sales"]
names[1:4]

1     19
2     21
3    111
Name: Sales, dtype: int64

In [26]:
first_name = df_grades.loc[0,"Customer.Name"]
first_name

'Lycoris Saunders'

In [27]:
first_row = df_grades.loc[0,:]
first_row

Category                  Office Supplies
City                          Los Angeles
Country                     United States
Customer.ID                     LS-172304
Customer.Name            Lycoris Saunders
Discount                              0.0
Market                                 US
记录数                                     1
Order.Date        2011-01-07 00:00:00.000
Order.ID                   CA-2011-130813
Order.Priority                       High
Product.ID                OFF-PA-10002005
Product.Name                    Xerox 225
Profit                             9.3312
Quantity                                3
Region                               West
Row.ID                              36624
Sales                                  19
Segment                          Consumer
Ship.Date         2011-01-09 00:00:00.000
Ship.Mode                    Second Class
Shipping.Cost                        4.37
State                          California
Sub.Category                        Paper
Year                                 2011
Market2                     North America
weeknum                                 2
Name: 0, dtype: object

In [30]:
slice_one = df_grades.loc[0:3,"Customer.Name":"Order.ID"]
slice_one

,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID
0,Lycoris Saunders,0.0,US,1,2011-01-07 00:00:00.000,CA-2011-130813
1,Mark Van Huff,0.0,US,1,2011-01-21 00:00:00.000,CA-2011-148614
2,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962
3,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962